.mtx--lighter {
  font-weight: $font-weight-light;
}

.mtx--bold {
  font-weight: $font-weight-bold;
}

.mtx--medium {
  font-weight: $font-weight-normal;
}

.mtx--semi-bold {
  font-weight: $font-weight-semi;
}

.mtx--extra-bold {
  font-weight: $font-weight-extraBold;
}

.mtx--regular {
  font-weight: $font-weight-normal;
}

.mtx--thin {
  font-weight: $font-weight-thin;
}
